* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 14px;
}

.nav-logo {
    height: 50px;
    width: 130px;
    margin: 1px;
    padding: 1px 8px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(0) invert(1);  /* This makes the logo white */
}

.border {
    border: 1px solid transparent;
    padding: 8px 9px;
    margin: 1px;
    cursor: pointer;
}

.border:hover {
    border: 1px solid white;
    border-radius: 2px;
}

/** BOX 2 **/
.add-first {
    color: #cccccc;
    font-size: 12px;
    margin-left: 3px;
}

.add-sec {
    font-size: 14px;
    font-weight: 700;
    margin-left: 3px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/** BOX 3 **/
.nav-search {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    margin: 0 10px;
}

.search-select {
    background-color: #f3f3f3;
    width: 52px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    cursor: pointer;
}

.search-select:hover {
    background-color: #dadada;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 7px 10px;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd69;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #131921;
    cursor: pointer;
}

.search-icon:hover {
    background-color: #f3a847;
}

/** Box 4 **/
span {
    font-size: 12px;
    color: #cccccc;
}

.nav-second {
    font-size: 14px;
    font-weight: 700;
    margin-top: -2px;
}

/** Box 6 **/
.nav-cart {
    display: flex;
    align-items: center;
}

.nav-cart i {
    font-size: 27px;
    margin-right: 4px;
}

.nav-cart:hover {
    border: 1px solid white;
    border-radius: 2px;
}

/** PANEL **/
.panel {
    height: 39px;
    background-color: #232f3e;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-all {
    cursor: pointer;
    padding: 8px 9px;
}

.panel-all:hover {
    border: 1px solid white;
    border-radius: 2px;
}

.panel-ops {
    width: 70%;
    font-size: 14px;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
    cursor: pointer;
}

.panel-ops p:hover {
    text-decoration: underline;
}

.panel-deals {
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.panel-deals:hover {
    text-decoration: underline;
}

/** HERO SECTION **/
.hero-section {
    background-image: url("https://picsum.photos/1400/300");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message {
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-message a {
    color: #007185;
    text-decoration: none;
}

/** SHOP SECTION **/
.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding: 20px;
}

.box {
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 15px;
}

.box-image {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
}

/** FOOTER **/
footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("https://raw.githubusercontent.com/HARI-CHARAN122/AMAZONCLONE/main/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
    padding-top: 25px;
}

.pages {
    font-size: 0.7rem;
    padding-top: 5px;
}

.pages a {
    margin-left: 10px;
}

.copyright {
    padding-top: 5px;
    font-size: 0.7rem;
}
